/*CSS Index.html*/
.imgcarr{
    width: 100%;
}

.nav-item a {
    border-radius: 10px;
    margin-left: 10px;
}

.nav-item:hover a {
    background-color: rgba(128, 128, 128, 0.405);
    border-radius: 10px;
}

#navback{
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-toggler{
    position: fixed;
    right: 20px; 
    top: 20px;
}

#wpp{
    position: fixed;
    bottom: 2%;
    right: 1%;
}

#index-content{
    text-align: justify;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 6%;
    margin-right: 6%;
}

footer{
    padding: 200px;
    background-color: rgb(0, 118, 253);
}

/*CSS Login.html*/
.card {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}
