* {
    padding: 0;
    
    font-family: sans-serif;
}
body{
    margin: 0 100px ;
}

hr {
    margin: 30px;
}

button {
    margin: 30px;
    margin-left: 300px;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #3483fa;
    color: white;
}

h3 {
    margin-left: 30px;
    margin-bottom: 10px;
}

p {
    margin-left: 30px;
}

a {
    margin: 30px;
}

h1 {
    margin-left: 30px;
    margin-bottom: 20px;
}

.grid_mercado_pago {
    display: flex;
}

.grid_mercado_pago p {
    margin-top: 15px;
}

.grid_mercado_credito {
    border: solid 1px gray;
    border-radius: 12px;
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.grid_mercado_credito p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid_mercado_credito img {
    height: 50px;
    border-right: 2px solid rgb(245, 238, 238);
    margin-top: 10px;
    padding: 10px;
    padding-right: 60px;
}

.grid_mercado_credito_2{
    border: none;
    margin: 0px;
    padding: 15px;
}

.grid_cartao_credito {
 
    border-radius: 12px;
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.grid_cartao_credito_3 {
    display: inline;
    margin-left: 30px;
}


.grid_cartao_debito {
 
    border-radius: 12px;
    margin: 30px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.grid_cartao_debito_3 {
    display: inline;
    margin-left: 30px;
}





