/*NAV BAR*/

/*INDEX*/
#pagamento {
    background-color: rgba(128, 128, 128, 0.229);
    border-radius: 12px;
    margin: 30px 70px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#pagamento a {
    text-decoration: none;
}

.imgcarr{
    width: 100%;
}

.nav-item a {
    border-radius: 10px;
    margin-left: 100px;
    font-weight: bold;
}

#nav-item-login{
    position: fixed;
    right: 45px;
}

.nav-item:hover a {
    background-color: rgba(128, 128, 128, 0.405);
    border-radius: 10px;
}

#navback{
    background: rgb(255, 255, 255);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-toggler{
    position: fixed;
    right: 20px; 
    top: 20px;
}

#wpp{
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#btn-topo{
    position: fixed;
    bottom: 12%;
    right: 2%;
}

#bodycontent{
    text-align: justify;
    padding: 4% 8%;
    margin: 0 6%;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: 82px;
    padding-top: 60px;
    background-color: rgb(0, 118, 253);
}

.navbar-nav{
    font-family: 'Comfortaa';
}

.titleclass{
    font-family: 'Comfortaa';
}

.textclass{
    font-family: 'Exo2';
}

.grid-container {
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: center;
    color: white;
    font-family: 'Comfortaa';
    font-size: small;
}

.link-item{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa';
}

.link-item:hover{
    color: rgb(0, 0, 0);
}

#footer-text{
    color: white;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: small;
}

.botao-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#ig{
    margin-left: 5px;
}

#fb{
    margin-right: 5px;
}

@font-face {
    /*Fonte para títulos*/
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
    /*Fonte para textos*/
    font-family: 'Exo2';
    src: url('../fonts/Exo2-Regular.ttf');
}

/*CSS Login.html*/
.body {
    padding: 25px;
}

#loginForm {
    max-width: 360px;
    margin: 40px auto auto auto;
}

#cadastroForm {
    max-width: 360px;
    margin: 40px auto auto auto;
}

.nav-item a::before{
    content: " ";
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 1px;
    background-color: #0b0a68;
    transition: width 0.2s ease-in-out;
}

#navloginid:hover::before{
    width: 45px;
    height: 20;
}

#navhomeid:hover:before{
    width: 48px;
}

#navprodid:hover:before{
    width: 73px;
}

#navsobreid:hover:before{
    width: 48px;
    height: 40123123;
}