/*CSS Index.html*/
.imgcarr{
    width: 100%;
}

.nav-item a {
    border-radius: 10px;
    margin-left: 10px;
}

.nav-item:hover a {
    background-color: rgba(128, 128, 128, 0.405);
    border-radius: 10px;
}

#navback{
    background: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-toggler{
    position: fixed;
    right: 20px; 
    top: 20px;
}

#wpp{
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#bodycontent{
    text-align: justify;
    padding: 4% 8%;
    margin: 0 6%;
}

footer{
    padding-top: 30px;
    padding-bottom: 1px;
    background-color: rgb(0, 118, 253);
}

.navbar-nav{
    font-family: 'Comfortaa';
}

.titleclass{
    font-family: 'Comfortaa';
}

.textclass{
    font-family: 'Exo2';
}

.grid-container {
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: center;
    color: white;
    font-family: 'Comfortaa';
    font-size: small;
}

.link-item{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa';
}

.link-item:hover{
    color: rgb(0, 0, 0);
}

#footer-text{
    color: white;
    text-align: center;
    font-family: 'Comfortaa';
    font-size: small;
}

@font-face {
    /*Fonte para títulos*/
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    /*Fonte para textos*/
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Regular.ttf');
}

/*CSS Login.html*/
.body {
    padding: 25px;
}

#loginForm {
    max-width: 360px;
    margin: 40px auto auto auto;
}

#cadastroForm {
    max-width: 360px;
    margin: 40px auto auto auto;
}

/*produtos*/
h1 {
    font-family: 'Comfortaa';
    background-color: rgb(0, 118, 253);
    color: white;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

h2 {
    color: black;
    background-color: rgba(189, 189, 189);
    padding: 10px;
    font-family: 'Comfortaa';
    text-indent: 25px;
}

#subNav {
    font-family: 'Comfortaa';
    background-color: black;
    text-align: center;
}

#subNav ul {
    display: inline-block;
    margin: 10px;
}

#subNav ul a {
    color: white;
    text-decoration: none;
}

.card-body{
    font-family: 'Exo2';
}

a {
    text-decoration: none;
    color: black;
}

.card{
    height: 100%;
}
.card:hover{
    transform:scale(1.1);
    transition-duration: 100ms;
}
.subdiv_prod:hover{
transform:rotate(1080deg) scale(5);
transition-duration: 1050ms;
}
